.clearfix::after{content: '';display: block;clear: both;}
*{padding:0;margin:0;    box-sizing: border-box;}
ul,ol{list-style: none;}
body{
    background:rgb(242,242,242);
    text-align: center;

}
h1{
    font-family: "Myriad Pro",sans-serif;
    font-size: 38px;
    font-weight: normal;
    padding: 40px;
}
.gallery{
    border:1px solid white;
    background: white;
    text-align: center;
    width: 922px;
    margin: 10px auto;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 #AAAAAA;
}
.window{
    /*border: 1px solid green;*/
    width: 920px;
    margin: 0 auto;
    overflow: hidden;
}
.images{
    display: flex;
    align-items: flex-start;
    transition: all 0.4s linear;
}
.images> .img{
    width:100%;
}
.menu{
    /*border: 1px solid green;*/
    text-align: center;
    background: rgb(243,243,243);
    margin-bottom:1px;
    background: linear-gradient(to bottom, rgba(233,233,233,1) 0%,rgba(250,250,250,1) 11%,rgba(250,250,250,1) 20%,rgba(250,250,250,1) 20%,rgba(250,250,250,1) 27%,rgba(236,236,236,1) 100%);
}
.menu> ul{
    display: inline-block;
    vertical-align:top;
}
.menu> ul> .menuBar{
    float: left;
    height:45px;
    width: 2px;
    background: white;
}
.menu> ul> .menuItem{
    width:60px;
    overflow: hidden;
    float: left;
    height: 45px;
    padding-top:10px;
    position: relative;
    transition: all 0.3s;
}
.menu> ul> .menuItem.enter {
    background: linear-gradient(to bottom, rgba(233,233,233,1) 0%,rgba(250,250,250,1) 6%,rgba(252,252,252,1) 20%,rgba(253,253,253,1) 75%,rgba(243,243,243,1) 100%);
}
.menu> ul> .menuItem.active::before {
    content:'';
    display: block;
    top:0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(252,252,252,0) 0%,rgba(252,252,252,0.13) 17%,rgba(165,165,165,0.74) 97%,rgba(165,165,165,0.76) 100%);
}
.menu> ul> .menuItem.active::after{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 24px;
    border: 6px solid transparent;
    border-top-color: white;
}